.work-sans-normal{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.banner{
    display: flex;
    background-color: #C6E4D6;
    padding: 40px;
    margin: 20px 20px;
    border-radius: 15px;
    align-items: center;
    
   
}


.banner-title{
    font-size: 16px;
    color: #0e0e0e72;
}
.banner-dis{
    font-size: 45px;
}
.primary-btn{
    background-color: #006A50;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

/*vision*/

.vision{
    margin: 20px 20px;
}
.vision-title{
    font-size: 30px;
}
.vision-dis{
    font-size: 16px;
}
.cards{
    display: flex;
    gap: 24px;
}
.card-1{
    background-color: #548ff55a;
    padding: 20px;
    border-radius: 5px;

}
.card-2{
    background-color: #C6E4D6;
    padding: 20px;
    border-radius: 5px;

}
.card-3{
    background-color: #F7EBCF;
    padding: 20px;
    border-radius: 5px;

}
.btn-1{
    background-color: #5490F5;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
.btn-2{
    background-color: #09A15C;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
.btn-3{
    background-color: #FFC239;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}