.work-sans-normal{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .backgd{
    background-color: #F1F1F3;
    margin: 20px 20px;
  }

.banner{
    display: flex;
    background-color: #C6E4D6;
    padding: 40px;
    margin: 20px 20px;
    border-radius: 15px;
    align-items: center;
    
   
}



.banner-title{
    font-size: 16px;
    color: #0e0e0e72;
}
.banner-dis{
    font-size: 45px;
}
.primary-btn{
    background-color: #006A50;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

/*vision*/

.vision{
    margin: 20px 20px;
}
.vision-title{
    font-size: 30px;
}
.vision-dis{
    font-size: 16px;
}
.cards{
    display: flex;
    gap: 24px;
}
.card-1{
    background-color: #548ff55a;
    padding: 20px;
    border-radius: 10px;

}
.card-2{
    background-color: #C6E4D6;
    padding: 20px;
    border-radius: 10px;

}
.card-3{
    background-color: #F7EBCF;
    padding: 20px;
    border-radius: 10px;

}
.btn-1{
    background-color: #5490F5;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
.btn-1:hover{
    background-color: #1cb86f;
    color: white;
}
.btn-2{
    background-color: #09A15C;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
.btn-2:hover{
    background-color: #1cb86f;
    color: white;
}
.btn-3{
    background-color: #FFC239;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
.btn-3:hover{
    background-color: #1cb86f;
    color: white;
}
.yo{
    color: #0e0e0e80;
}
.yunus{
    margin: 20px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    background-image: url(../assets/quote-bg.png) ;
    background-repeat: no-repeat;
    background-position-x: 20px;

}

.p{
    color: rgba(0, 0, 0, 0.667);
}

.news{
    margin: 20px 20px;
}
.news-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}
.h{
    color: rgba(0, 0, 0, 0.79);
}
.im{
    border-radius: 15px;
}

.donation-options{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.donation-card{
    padding: 24px 24px;
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;
}
.donate{
    margin: 40px 40px;
    text-align: center;
    align-items: center;
}
.donation-card-1{
    padding: 24px 24px;
    background-color: #C6E4D6;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;
}
.donation-card-1:hover {
    background-color: #12c370;
    color: white;
  }

.donation-card:hover {
    background-color: #1cb86f;
    color: white;
  }
  .input{
    width: 800px;
    text-align: center;
    height: 45px;
    border: none;
    margin-top: 20px;
  }

  .primary-btn:hover{
    background-color: #22a467;
    color: white;

  }

.newsletter{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: #C6E4D6;
    border-radius: 15px;
    margin: 20px 20px;
}

.input{
    width: 500px;
    height: 48px;
    border-radius: 10px;
    
}
